@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: theme('colors.bgOriginal');
  color: theme('colors.text');
}

a {
  color: inherit;
  text-decoration: none;
}
